@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


$row-bg-color: #fff;
$border-props: 1px solid #ccc;
$title-color: #333;
$time-color: $title-color;
$font-size: 13pt;
$title-font-size: 26pt;
$author-color: #999;
$row-hover-color: #fafafa;
$white: $row-bg-color;