@import './../../scss/variables.scss';

.hn-feed-wrapper {
    a {
        text-decoration: none;
    }
}

.hn-stories-container li {
    background-color: $row-bg-color;
    position: relative;
    padding: 20px 60px;
    color: $title-color;
    font-weight: 600;
    font-size: $font-size;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
        display: block;
        .hn-time-and-trash {
            display: flex;
            justify-content: space-between;
            height: 30px;
            margin-top: 20px;
        }
    }

    .hn-title-text {
        max-width: 800px;
        @media (max-width: 1000px) {
            max-width: 400px;
        }
        @media (max-width: 750px) {
            max-width: 330px;
        }
        @media (max-width: 600px) {
            max-width: 100%;
        }
    }

    &::after {
        position: absolute;
        content: '';
        border-bottom: $border-props;
        width: 95%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    .hn-author {
        color: $author-color;
    }
    .hn-time-and-trash {
        display: flex;
        align-items: center;
        width: 200px;
        position: relative;
        @media (max-width: 750px) {
            width: 150px;
        }
        @media (max-width: 600px) {
            width: 100%;
        }
        .hn-time-text {
            position: absolute;
            left: 0;
        }
        .hn-trash-icon {
            position: absolute;
            right: 0;
            display: none;
            cursor: pointer;
        }
    }
    &:hover {
        background-color: $row-hover-color;
    }
    &:hover .hn-trash-icon {
        display: block;
    }
}