@import './../../scss/variables.scss';

.hn-feed-wrapper {
    a {
        text-decoration: none;
    }
}

.hn-stories-container li {
    background-color: $row-bg-color;
    position: relative;
    padding: 20px 60px;
    color: $title-color;
    font-weight: 600;
    font-size: $font-size;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;
    &::after {
        position: absolute;
        content: '';
        border-bottom: $border-props;
        width: 95%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    .hn-author {
        color: $author-color;
    }
    .hn-time-and-trash {
        display: flex;
        width: 200px;
        position: relative;

        .hn-time-text {
            position: absolute;
            left: 0;
        }
        .hn-trash-icon {
            position: absolute;
            right: 0;
            display: none;
            cursor: pointer;
        }
    }
    &:hover {
        background-color: $row-hover-color;
    }
    &:hover .hn-trash-icon {
        display: block;
    }
}